{% extends "askaboutme/base_generic.html" %}

{% block content %}
<h1 class="page-heading">Ask About Me</h1>
<p>Hi, welcome here, where you could ask questions about me!
  Post a question <a href="{% url 'askaboutme:askq' %}">here</a>.
</p>
<p>
  <b>NOTE</b>: please be reasonable before asking a question.
  Impolite questions will possibly be removed.
</p>


{% for question in question_list %}
<article class="question question-{{ question.pk }}">
  <div>
    {{ question.content|safe }}
    <!-- NOTE the template syntax in the comment is also parsed by Django. -->
    <p>
      <time datetime="{{ question.created_time }}">{{ question.created_time }}</time>
    </p>
  </div>

  <div>
    {% if question.public_answer %}
    {{ question.public_answer.content }}
    {% endif %}
  </div>
</article>
{% empty %}
<div class="no-question">There is no question now.</div>
{% endfor %}
{% endblock %}
