{% extends "askaboutme/base_generic.html" %}

{% block content %}

<style>
 .question-and-answer {
     /* box-shadow: rgba(200, 199, 199, 0.5) 0px 8px 4px 0px; */
     min-height: 160px;
     /* border-bottom: unset; */
 }
 .question-and-answer-header {
     /* box-shadow: rgba(200, 199, 199, 0.5) 0px 8px 4px 0px; */
     border-bottom: unset;
     padding: 4px 1.25em 4px 1.25em;
 }

</style>

<h1 class="page-heading">Ask About Me</h1>
<p>Hi, welcome here, where you could ask questions about me!
  Post a question <a href="{% url 'askaboutme:askq' %}">here</a>.
</p>

<p>There are {{ polite_question_number }} questions.</p>

{% for question in question_list %}
<div class="card">
  <div class="question-and-answer-header card-header">
    <p>(<time>{{ question.created_time|date:'N j' }}</time>)</p>
    <!-- NOTE the template syntax in the comment is also parsed by Django. -->

  </div>
  <div class="card-body">
    {{ question.content|linebreaks }}
  </div>
  {% if question.public_answer %}
  <div class="card-footer">
    Answer:
    {{ question.public_answer.content|linebreaks }}
  </div>
  {% endif %}
</div>

{% empty %}
<div class="no-question">There is no question now. You could ask a question <a href="{% url 'askaboutme:askq' %}">here</a>.</div>
{% endfor %}
{% endblock %}
