{% extends "askaboutme/base_generic.html" %}

{% block content %}

<style>
  .qas-question-body {
    /* box-shadow: rgba(200, 199, 199, 0.5) 0px 8px 4px 0px; */
    min-height: 140px;
    /* border-bottom: unset; */
  }

  .qas-header {
    /* box-shadow: rgba(200, 199, 199, 0.5) 0px 8px 4px 0px; */
    border-bottom: unset;
    padding: 4px 1.25em 4px 1.25em;
  }

  .qas-footer {
    border-bottom: unset;
    padding: 4px 1.25em 4px 1.25em;
  }

</style>

<h1 class="page-heading">Ask About Me</h1>
<p>Hi, welcome here, where you could ask questions about me!
  Post a question <a href="{% url 'askaboutme:askq' %}">here</a>.
</p>

<p>There are {{ polite_question_number }} questions.</p>

{% for question in question_list %}
<div class="card">
  <div class="qas-header card-header text-muted">
    (<time>{{ question.created_time|date:'N j' }}</time>)
    <!-- NOTE the template syntax in the comment is also parsed by Django. -->

  </div>
  <div class="qas-question-body card-body" id="question-{{ question.pk }}">
    {{ question.content|linebreaks }}
  </div>
  {% if question.public_answer %}
  <div class="qas-footer card-footer">
    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#answer-{{ question.public_answer.pk }}" aria-expanded="true" aria-controls="answer-{{ question.public_answer.pk }}">
      Answer:
    </button>
    <div class="card-body">
      <div id="answer-{{ question.public_answer.pk }}" class="collapse" aria-labelledby="headingOne" data-parent="#question-{{ question.pk }}">
        {{ question.public_answer.content|linebreaks }}
      </div>
    </div>
  </div>
  {% endif %}
</div>

{% empty %}
<div class="no-question">There is no question now. You could ask a question <a href="{% url 'askaboutme:askq' %}">here</a>.</div>
{% endfor %}
{% endblock %}
